.container {
  width: 100%;
  height: 100vh;
  position: relative; 
  background-color: #533483;
  color: #fff; 
  overflow: scroll;
 
}

.weather__container {
  background: url('../public/tokyo3.jpeg') no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 0 1rem;

}
.searchbar {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  
}

.searchbar input {
  padding: .7rem 1.5rem;
  border-radius: 25px;
  font-size: 1rem;
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgba(255,255,255, 0.8);
  color: #fff;
}

::placeholder {
  color: #fff;
}

.top__weather {

 padding-left: 20px;
 padding-bottom: 30px;
}

.bottom__weather {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}
.title {
  display: flex;
  margin: 30px;
}

.title p {
  padding-right: 10px;
}

.recommendations__outer {
  bottom: 20px;
}
.recommendations__container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 40px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  background-color: #16213E;
  margin-right: 40px;
  border-color: #E94560;
  padding: 5px;
  width: 300px;
  height: 250px;
  overflow: auto;
 
  
}


.recommendations__container img {
  width:300px;
  height:200px;
  object-fit: fill;
}
.recommendations__container p {
  font-size: 1rem;
  padding: 5px;
}
